<%= simple_form_for @service do |f| %>
  <%= f.hidden_field :reservation_id %>
  <%= f.association :service_type, as: :select, include_blank: false %>

  <div class="buttons">
    <%= submit_button(f: f, text: 'Continue', icon: 'chevron-right') %>
    <%= cancel_button %>
  </div>
<% end %>