<%# Only show table if services length is longer than 1 so it doesn't render the table for the built service in the service_form %>
<% if services.length > 0 %>
  <div class="table-responsive">
    <table class="table table-sm table-striped" id="services-table">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <%# Start loop here to only show the table if service is persisted to fix error when rendering buttons without a service.id %>
      <% services.each do |service| %>
        <tr id="service_<%= service.id %>">
          <td><%= service.name %></td>
          <td><%= service.description %></td>
          <td><span>$</span><%= service.price %></td>
          <td class="d-flex justify-content-end">
            <div class="mr-3" id="service-links">
              <%= link_to 'Edit', edit_service_path(service),
                          :class => "text-info edit-service-button mr-md-4" %>
              <%= link_to 'Delete', service_path(service),
                          :class => "text-danger my-1 delete-service-button", :method => :delete, data: {confirm: "Are you sure you want to delete this service?"} %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>No services yet</p>
<% end %>
