<div class="container-fluid my-4">
  <h1 class="d-inline-block">Edit Service</h1>
  <%= link_to fa_icon('chevron-left', text: 'Back'), reservation_path(@service.reservation),
              class: 'btn btn-light float-right' %>
  <h4><%= link_to fa_icon('book', text: @service.reservation.name), @service.reservation %></h4>
  <hr class="clearfix">
  <%= render 'services/form' %>

  <div class="mt-4">
    <%= link_to fa_icon('chevron-left', text: 'Back'), reservation_path(@service.reservation) %>
  </div>
</div>