<div class="container-fluid my-4">
  <h1 class="h2 d-inline-block">
    <% if @service.service_type %>
      <%= @service.service_type.name %>
    <% else %>
     Other Service
    <% end %>
  </h1>
  <%= link_to fa_icon('chevron-left', text: 'Back'), reservation_path(@service.reservation),
              class: 'btn btn-light float-right' %>
  <hr class="clearfix">
  <%= render 'services/form' %>
</div>