<%= simple_form_for :session, url: session_path do |f| %>
  <%= f.input :email, autofocus: true, autocomplete: "email", required: true %>
  <%= f.input :password, autocomplete: "off", required: true %>
  <%= f.submit "Sign in", class: 'btn btn-success btn-block mt-4' %>

  <div class="other-links mt-4">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %><br>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
<% end %>
