A new inquiry was submitted!

Inquiry details:

Name: <%= @inquiry.customer.full_name %>
Email: <%= @inquiry.customer.email %>
Phone: <%= @inquiry.customer.phone %>

Event Date: <%= @inquiry.event_date.present? ? @inquiry.event_date.to_formatted_s(:long) : 'Not provided' %>
Event Type: <%= @inquiry.event_type || 'Not provided' %>
Event Location: <%= @inquiry.event_location || 'Not provided' %>
Number of Guests: <%= @inquiry.number_of_guests || 'Not provided' %>

This inquiry has been saved to the application database as:

Customer #<%= @inquiry.customer.id %>
Reservation #<%= @inquiry.reservation.id %> - <%= @inquiry.reservation.name %>
