<h1>A new inquiry was submitted!</h1>

<h2>Inquiry details:</h2>

<dl>
  <dt>Name: </dt><dd><%= @inquiry.customer.full_name %></dd>
  <dt>Email: </dt><dd><%= @inquiry.customer.email %></dd>
  <dt>Phone: </dt><dd><%= @inquiry.customer.phone %></dd>
</dl>
<dl>
  <dt>Event Date: </dt><dd><%= @inquiry.event_date.present? ? @inquiry.event_date.to_formatted_s(:long) : 'Not provided' %></dd>
  <dt>Event Type: </dt><dd><%= @inquiry.event_type || 'Not provided' %></dd>
  <dt>Event Location: </dt><dd><%= @inquiry.event_location || 'Not provided' %></dd>
  <dt>Number of Guests: </dt><dd><%= @inquiry.number_of_guests || 'Not provided' %></dd>
  <dt>Additional Notes: </dt><dd><%= @inquiry.additional_notes || 'Not provided' %></dd>
</dl>

<p>This inquiry has been saved to the application database as:</p>

<ul>
  <li>Customer #<%= @inquiry.customer.id %></li>
  <li>Reservation #<%= @inquiry.reservation.id %> - <%= @inquiry.reservation.name %></li>
</ul>
