<p>Thank you for your interest in Simply Privys.</p>

<p>We are here to help make your event planning easy! We will do our best to work with you on your event and help this step be as simple as possible. </p>

<p>We have received your inquiry, and we will reach out within 24 hours. In the meantime, feel free to reply to this email with any additional information or questions.</p>

<p>Best regards,</p>

<p>Simply Privys Team</p>
