<section id="contact_us" class="smooth_scroll_target bg-secondary text-light">
  <div class="container py-4">
    <h2 class="text-uppercase font-weight-bold text-center mb-4"><%= SingularPageContent.value_for(:contact_header) %></h2>
    <%= render partial: 'inquiries/form', locals: { inquiry: @inquiry } %>
  </div>
</section>
