<section id="faq" class="smooth_scroll_target bg-light">
  <div class="container">

    <h2 class="text-uppercase font-weight-bold text-center pt-4">Frequently Asked Questions</h2>

    <div id="faq_cards" class="row pt-2 pb-5">
      <% @frequently_asked_questions.each do |faq| %>
        <div class="col-xl-6">
          <div class="card">
            <button data-toggle="collapse" data-target="#answer_<%= faq.id %>"
                    class="btn btn-secondary card-header bg-secondary text-light text-left">
              <%= fa_icon('chevron-down', text: faq.question, icon_class: 'mr-2 text-success') %>
            </button>
            <div id="answer_<%= faq.id %>" class="collapse">
              <div class="card-body">
                <p class="card-text"><%= faq.answer %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</section>
