<section id="hero" class="jumbotron bg-fade mb-0">
  <div class="container px-4 py-5">
    <div class="text-light d-flex flex-column justify-content-center">
      <% if @seo_location.present? %>
        <h1 class="display-4">Restroom trailer rentals in <%= @seo_location.name %></h1>
      <% else %>
        <h1 class="display-4"><%= SingularPageContent.value_for(:website_header) %></h1>
      <% end %>
      <p class="lead"><%= SingularPageContent.value_for(:website_subheader) %></p>
      <div class="buttons">
        <%= link_to 'Learn More', '#trailers', class: 'btn btn-lg btn-primary' %>
        <%= link_to 'Reserve Now', '#contact_us', class: 'btn btn-lg btn-success' %>
      </div>
    </div>
  </div>
</section>

<%# pre-load the photos for performance %>
<div hidden>
  <img src="/assets/hero/wedding_lighting.jpg" alt="Wedding reception" />
  <img src="/assets/hero/farmers_market.jpg" alt="Farmers market"/>
  <img src="/assets/hero/wedding_field.jpg" alt="Wedding ceremony"/>
  <img src="/assets/hero/running_race.jpg" alt="Running race"/>
  <img src="/assets/hero/construction.jpg" alt="Construction site"/>
</div>
