<section id="how_it_works" class="smooth_scroll_target">
  <div class="container pt-2 pb-4">

    <h2 class="text-uppercase font-weight-bold text-center mt-3"><%= SingularPageContent.value_for(:how_it_works_header) %></h2>
    <hr>

    <div class="row my-4">
      <div class="col-md-4 text-center">
        <i class="fas fa-mobile-alt fa-5x mb-2 text-secondary"></i>
        <h2>
          <span class="fa-layers fa-fw">
            <i class="fas fa-circle text-info"></i>
            <span class="fa-layers-text fa-inverse font-weight-bold" data-fa-transform="shrink-4">1</span>
          </span>
          <span>You Reserve</span>
        </h2>
        <!--<p>Reserve by completing the form below, or giving us a call.</p>-->
        <hr class="d-md-none">
      </div>

      <div class="col-md-4 text-center">
        <i class="fas fa-truck-loading fa-5x mb-2 text-secondary"></i>
        <h2>
          <span class="fa-layers fa-fw">
            <i class="fas fa-circle text-info"></i>
            <span class="fa-layers-text fa-inverse font-weight-bold" data-fa-transform="shrink-4">2</span>
          </span>
          <span>We Deliver</span>
        </h2>
        <!--<p>We deliver and set up the trailers at your location.</p>-->
        <hr class="d-md-none">
      </div>

      <div class="col-md-4 text-center">
        <i class="fas fa-truck fa-5x mb-2 text-secondary"></i>
        <h2>
          <span class="fa-layers fa-fw">
            <i class="fas fa-circle text-info"></i>
            <span class="fa-layers-text fa-inverse font-weight-bold" data-fa-transform="shrink-4">3</span>
          </span>
          <span>We Pick Up</span>
        </h2>
        <!--<p>We'll pick up the trailer when you're done with it.</p>-->
      </div>
    </div>

    <p class="lead text-center"><%= SingularPageContent.value_for(:how_it_works_content) %></p>


  </div>
</section>
