<section id="trailers" class="bg-dark text-light">
  <div class="container-fluid pl-0">
    <div class="row">

      <%# Trailer Images Gallery Carousel %>
      <% trailer_images = [
          {
              path: 'trailers-gallery/800w/mens_door.jpg',
              class: '',
              alt: 'Men\'s Door to Trailer',
          },
          {
              path: 'trailers-gallery/800w/three_door_outdoors.jpg',
              class: '',
              alt: 'Three-Door Trailer Outdoors',
          },
          {
              path: 'trailers-gallery/800w/peek_inside3.jpg',
              class: '',
              alt: 'Flower Painting in Trailer',
          },
          {
              path: 'trailers-gallery/800w/peek_inside4.jpg',
              class: '',
              alt: 'Toilet Stall in Trailer',
          },
          {
              path: 'trailers-gallery/800w/peek_inside5.jpg',
              class: '',
              alt: 'Fish Artwork in trailer',
          },
          {
              path: 'trailers-gallery/800w/peek_inside6.jpg',
              class: '',
              alt: 'Toilet Stall in Trailer',
          },
          {
              path: 'trailers-gallery/800w/peek_inside7.jpg',
              class: '',
              alt: 'Toilet Stall with Fishing Artwork in Trailer',
          },
          {
              path: 'trailers-gallery/800w/peek_inside8.jpg',
              class: '',
              alt: 'Toilet Stall with Flower Artwork in Trailer',
          },
          {
              path: 'trailers-gallery/800w/peek_inside9.jpg',
              class: '',
              alt: 'Urinal in Trailer',
          },
          {
              path: 'trailers-gallery/800w/peek_inside10.jpg',
              class: '',
              alt: 'Sink in Trailer',
          },
      ] %>
      <div class="col-lg-5">
        <div id="trailers-gallery-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% trailer_images.each_with_index do |img, i| %>
              <li data-target="#trailers-gallery-carousel" data-slide-to="<%= i %>" class="<%= 'active' if i == 0 %>"></li>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <% trailer_images.each_with_index do |img, i| %>
              <div class="carousel-item <%= 'active' if i == 0 %>">
                <%= image_tag img[:path], class: img[:class], alt: img[:alt] %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control carousel-control-prev" data-target="#trailers-gallery-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control carousel-control-next" data-target="#trailers-gallery-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <%# Features Lists %>
      <div class="col d-flex flex-column justify-content-around">
        <!--<div class="">-->
          <div class="p-4">
            <h2 class="h5 mb-4 text-uppercase text-secondary text-center font-weight-bold">Interior Features</h2>
            <p class="text-muted">The Simply beautiful restroom trailer interiors include:</p>
            <div class="row">
              <% @trailer_interior_features.each do |tif| %>
                <div class="col-xl-4 col-lg-6 col-sm-12 mb-2">
                  <%= fa_icon('chevron-right') %>
                  <span><%= tif.feature %></span>
                </div>
              <% end %>
            </div>
          </div>

          <div class="p-4">
            <h2 class="h5 mb-4 text-uppercase text-secondary text-center font-weight-bold">Optional Features</h2>
            <div class="row">
              <% @trailer_optional_features.each do |tof| %>
                <div class="col-xl-4 col-lg-6 col-sm-12 mb-2 text-info">
                  <%= fa_icon('chevron-right') %>
                  <span><%= tof.feature %></span>
                </div>
              <% end %>
            </div>
          </div>
        <!--</div>-->
      </div>
    </div>
    <%= render partial: 'videos' %>
  </div>
</section>
