<div class="accordion" id="trailer-videos-accordion">
    <div class="card-header bg-dark text-center" id="trailer-videos-header">
        <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#trailer-videos" aria-expanded="true" aria-controls="trailer-videos">
          <h4 class="mb-0 font-weight-bold text-uppercase"><span class="mr-2">Trailer Videos</span><%= fa_icon('chevron-circle-down') %></h4>
        </button>
    </div>
    <div id="trailer-videos" class="collapse" aria-labelledby="trailer-videos-header" data-parent="#trailer-videos-accordion">
      <div class="card-body">
        <div class="card-header text-center bg-dark border-0">
          <h5 class="font-weight-bold">Three Stall Trailer</h5>
        </div>
        <div class="d-flex justify-content-center mt-2">
          <iframe width="338" height="600" src="https://www.youtube.com/embed/ANj7FyR1I9M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
</div>