<% content_for(:title) { "#{SingularPageContent.value_for(:seo_page_title_with_seo_location)} #{@seo_location.name}" } if @seo_location.present? %>

<%= render partial: 'hero' %>
<%#= render partial: 'carousel' %>
<%= render partial: 'how_it_works' %>
<%= render partial: 'trailers' %>
<%= render partial: 'faq' %>
<%= render partial: 'contact_us' %>
