<%= simple_form_for @invoice do |f| %>

  <div class="form-row">
    <div class="col">
      <%= f.input :due_on, as: :date_picker %>
    </div>

    <% if @invoice.sent_at.present? %>
      <div class="col">
        <%= f.input :sent_at, as: :date_time_picker, readonly: true %>
      </div>
    <% end %>

    <% if @invoice.new_record? %>
      <%= f.hidden_field :status if @invoice.new_record? %>
    <% else %>
      <div class="col">
        <%= f.input :status, collection: input_statuses_collection_for_select %>
      </div>
    <% end %>

    <% if @invoice.reservation.present? %>
      <%= f.hidden_field :reservation_id %>
      <div class="col">
        <div class="form-group">
          <label>Reservation</label>
          <%= link_to fa_icon('book', text: @invoice.reservation.name),
                      @invoice.reservation,
                      class: 'form-control-plaintext' %>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Customer</label>
          <%= link_to fa_icon('user', text: @invoice.reservation.customer),
                      @invoice.reservation.customer,
                      class: 'form-control-plaintext' %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="form-row">
    <div class="col">
      <%= f.input :description %>
    </div>
  </div>

  <section id="line_items" class="my-4">
    <div class="card">
      <div class="card-header blue-grey lighten-4">Line Items</div>
      <div class="card-body">
        <table class="table table-sm table-responsive w-100">
          <thead>
            <tr>
              <th>Completed On</th>
              <th>Description</th>
              <th>Qty</th>
              <th>Price</th>
              <th>Discount %</th>
              <th>Tax %</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="line_items_forms">
            <%= f.simple_fields_for :line_items do |line_item| %>
              <%= render 'line_item_fields', f: line_item %>
            <% end %>
            </tbody>
            <tbody>
            <tr>
              <td colspan="7">
                <%= link_to_add_association fa_icon('plus', text: 'Add Line Item'), f, :line_items,
                                            class: 'btn btn-sm btn-outline-default',
                                            data: { association_insertion_method: 'append',
                                                    association_insertion_node: '#line_items_forms' } %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <div class="buttons">
    <%= submit_button(f: f, text: 'Save Invoice') %>
    <%= cancel_button %>
  </div>
<% end %>
