<tr class="nested-fields">
  <td><%= f.input :completed_on, as: :date_picker, label: false %></td>
  <td><%= f.input :description, label: false %></td>
  <td><%= f.input :quantity, label: false %></td>
  <td><%= f.input :price, label: false %></td>
  <td><%= f.input :discount_percent, label: false %></td>
  <td><%= f.input :tax_percent, label: false %></td>
  <td><%= link_to_remove_association fa_icon('trash'), f, class: 'btn btn-sm btn-outline-danger' %></td>
</tr>
