<% if invoices && invoices.length > 0 %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Status</th>
        <th>Due On</th>
        <th>Description</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% invoices.each do |invoice| %>
        <tr>
          <td><%= link_to invoice.id, invoice %></td>
          <td><%= link_to invoice.status.titleize, invoice,
                          class: "text-#{invoice_status_context(invoice)}" %></td>
          <td><%= link_to invoice.due_on, invoice %></td>
          <td><%= link_to invoice.description, invoice %></td>
          <td><%= link_to number_to_currency(invoice.total), invoice %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No invoices yet</p>
<% end %>
