<div class="container-fluid">
  <header class="d-flex justify-content-between py-2">
    <h1 class="d-inline-block">Invoices</h1>
    <%= new_button new_invoice_path, text: 'New Invoice' %>
  </header>

  <section class="mt-4">
    <%= paginate @invoices %>

    <table class="table table-responsive-md z-depth-1">
      <thead>
      <tr class="blue-grey lighten-5">
        <th>#</th>
        <th>Reservation</th>
        <th>Status</th>
        <th>Created</th>
        <th>Due On</th>
        <th>Sent At</th>
        <th>Description</th>
        <th>Total</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @invoices.each do |invoice| %>
        <tr id="invoice_<%= invoice.id %>">
          <td><%= link_to invoice.id, invoice %></td>
          <td><%= link_to invoice.reservation.name, invoice if invoice.reservation.present? %></td>
          <td><%= link_to invoice.status.titleize, invoice, class: "text-#{invoice_status_context(invoice)}" %></td>
          <td><%= link_to "#{time_ago_in_words(invoice.created_at)} ago", invoice %></td>
          <td><%= link_to invoice.due_on, invoice if invoice.due_on.present? %></td>
          <td><%= link_to "#{time_ago_in_words(invoice.sent_at)} ago", invoice if invoice.sent_at.present? %></td>
          <td><%= link_to invoice.description, invoice if invoice.description.present? %></td>
          <td><%= link_to number_to_currency(invoice.total), invoice %></td>
          <td>
            <div class="d-flex justify-content-around">
              <%= edit_link_in_table edit_invoice_path(invoice) %>
              <%= delete_link_in_table invoice_path(invoice) %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate @invoices %>
  </section>
</div>
