<div class="container-fluid">
  <header class="d-flex justify-content-between py-2">
    <h1 class="d-inline-block">New Invoice</h1>
    <%= back_button %>
  </header>

  <%= render 'invoices/form' %>
</div>
