<div class="container-fluid">
  <header class="d-flex justify-content-between py-2">
    <h1 class="d-inline-block">Invoice #<%= @invoice.id %></h1>
    <div class="buttons d-flex justify-content-around">
      <%= edit_button edit_invoice_path(@invoice), text: 'Edit Invoice' %>
      <%= back_button %>
    </div>
  </header>


  <div id="status">
    <span id="status" class="badge badge-<%= invoice_status_context(@invoice) %>"><%= @invoice.status.upcase %></span>
  </div>

  <% if @invoice.reservation.present? %>
    <div id="reservation" class="mt-2">
      <%= fa_icon('book', text: "Reservation:") %>
      <%= link_to @invoice.reservation.name, @invoice.reservation %>
    </div>
  <% end %>

  <% if @invoice.due_on.present? %>
    <div id="due_on" class="mt-1">
      <%= fa_icon('calendar', text: "Due Date:") %>
      <span class="ml-1 text-primary"><%= @invoice.due_on %></span>
    </div>
  <% end %>

  <% if @invoice.sent_at.present? && @invoice.sent_at < Time.current %>
    <div id="sent_at" class="mt-1">
      <%= fa_icon('clock', text: "Sent #{time_ago_in_words @invoice.sent_at} ago", text_class: 'text-warning') %>
    </div>
  <% end %>

  <%= content_tag :p, @invoice.description, id: 'description', class: 'my-3' if @invoice.description.present? %>

  <table class="table mt-4">
    <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Discount %</th>
      <th>Subtotal</th>
      <th>Tax %</th>
      <th>Total</th>
    </tr>
    </thead>
    <% if @invoice.line_items.present? %>
      <tbody id="line_items">
      <% @invoice.line_items.each do |line_item| %>
        <tr id="line_item_<%= line_item.id %>">
          <td><%= line_item.completed_on %></td>
          <td><%= line_item.description %></td>
          <td><%= line_item.quantity %></td>
          <td><%= number_to_currency line_item.price %></td>
          <td><%= line_item.discount_percent %></td>
          <td><%= number_to_currency line_item.pre_tax_subtotal %></td>
          <td><%= line_item.tax_percent %></td>
          <td><%= number_to_currency line_item.total %></td>
        </tr>
      <% end %>
      </tbody>
    <% end %>
    <tbody id="totals">
    <% if @invoice.tax_amount > 0 %>
      <tr id="pre_tax_subtotal">
        <td colspan="7" class="text-right">Subtotal</td>
        <td><%= number_to_currency @invoice.pre_tax_subtotal %></td>
      </tr>
      <tr id="tax_amount">
        <td colspan="7" class="text-right">Tax</td>
        <td><%= number_to_currency @invoice.tax_amount %></td>
      </tr>
    <% end %>
    <tr id="total">
      <td colspan="7" class="text-right">Total</td>
      <td class="text-primary"><%= number_to_currency @invoice.total %></td>
    </tr>
    </tbody>
  </table>
</div>
