<div class="container mt-4">
  <div id="contract-header">
    <h1 class="text-center"><u>Terms & Conditions Of Rental</u></h1>
    <h2 class="h4 text-center">Quoted price valid for 7 days and subject to availability</h2>
    <p class="text-center my-0">
      Simply Privys, LLC<br />
      2238 Spring Hollow Rd.<br />
      Kamas UT, 84036<br />
      info@simplyprivys.com
    </p>
  </div>
  <hr>
  <p class="text-center my-3">This agreement is entered into by <u>Simply Privys LLC</u>, hereafter referred to as <strong>Provider</strong> and <u><%= @reservation.customer.name_for_reservation %></u> is referred to hereafter as <strong>Customer</strong>.</p>
  <div class="card pt-3">
    <div class="row">
      <div class="col">
        <dl class="row ml-2">
          <dt class="col-sm-4 mb-3">Customer Name</dt>
          <dd class="col-sm-8"><%= @reservation.customer.full_name %></dd>

          <dt class="col-sm-4 mb-3">Company Name</dt>
          <dd class="col-sm-8"><%= @reservation.customer.company_name %></dd>

          <dt class="col-sm-4 mb-3">Phone</dt>
          <dd class="col-sm-8"><%= @reservation.customer.phone %></dd>

          <dt class="col-sm-4 mb-3">Email</dt>
          <dd class="col-sm-8"><%= @reservation.customer.email %></dd>
        </dl>
      </div>
      <div class="col">
        <dl class="row ml-2">
          <dt class="col-sm-4 mb-3">Event Address</dt>
          <dd class="col-sm-8"><%= @reservation.event_location.try(:titleize) %></dd>

          <dt class="col-sm-4 mb-3">Delivery Time</dt>
          <dd class="col-sm-8"><%= @reservation.first_delivery_time.try(:to_s, :long) %></dd>

          <dt class="col-sm-4 mb-3">Pickup Time</dt>
          <dd class="col-sm-8"><%= @reservation.last_pickup_time.try(:to_s, :long) %></dd>

          <dt class="col-sm-4">Power on Site</dt>
          <dd class="col-sm-8"><%= @reservation.power_on_site? ? 'Yes' : 'No' %></dd>

          <dt class="col-sm-4">Water on Site</dt>
          <dd class="col-sm-8"><%= @reservation.water_on_site? ? 'Yes' : 'No' %></dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <table class="table table-responsive-md">
        <thead>
        <tr>
          <th>Item</th>
          <th>Qty</th>
          <th>Price</th>
          <th>Discount %</th>
          <th>Subtotal</th>
          <th>Tax %</th>
          <th>Total</th>
        </tr>
        </thead>

        <%# Rentals %>
        <tbody>
        <% @reservation.rentals.each do |rental| %>
          <tr id="rental_<%= rental.id %>">
            <% if rental.line_item.present? %>
              <td><%= rental.line_item.description %></td>
              <td><%= rental.line_item.quantity %></td>
              <td><%= number_to_currency rental.line_item.price %></td>
              <td><%= rental.line_item.discount_percent %></td>
              <td><%= number_to_currency rental.line_item.post_discount_subtotal %></td>
              <td><%= rental.line_item.tax_percent %></td>
              <td><%= number_to_currency rental.line_item.post_tax_subtotal %></td>
            <% else %>
              <td><%= rental %></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>

        <%# Services %>
        <tbody>
        <% @reservation.services.each do |service| %>
          <tr id="service_<%= service.id %>">
            <% if service.line_item.present? %>
              <td><%= service.line_item.description %></td>
              <td><%= service.line_item.quantity %></td>
              <td><%= number_to_currency service.line_item.price %></td>
              <td><%= service.line_item.discount_percent %></td>
              <td><%= number_to_currency service.line_item.post_discount_subtotal %></td>
              <td><%= service.line_item.tax_percent %></td>
              <td><%= number_to_currency service.line_item.post_tax_subtotal %></td>
            <% else %>
              <td><%= service %></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>

        <%# Totals %>
        <tbody id="totals">
        <% if @reservation.invoice.tax_amount > 0 %>
          <tr id="pre_tax_subtotal">
            <td colspan="6" class="text-right">Subtotal</td>
            <td><%= number_to_currency @reservation.invoice.pre_tax_subtotal %></td>
          </tr>
          <tr id="tax_amount">
            <td colspan="6" class="text-right">Tax</td>
            <td><%= number_to_currency @reservation.invoice.tax_amount %></td>
          </tr>
        <% end %>
        <tr id="total">
          <td colspan="6" class="text-right">Total</td>
          <td><%= number_to_currency @reservation.invoice.total %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="my-5">
    <ol>
      <% @contract_terms.each do |contract_term| %>
        <li><%= contract_term.insert_reservation_data_into_contract_term(@reservation) %></li>
      <% end %>
    </ol>
    <footer class="text-center mt-5"><%= render partial: "signature_line" %></footer>
  </div>
</div>
