/* This file is for app-wide globals (all layouts) */

/* Don't underline the "required" asterisk in forms */
abbr[title] {
    text-decoration: none;
}

/* Rails Messages */
.message {
    z-index: 1;
}
.message .alert {
    margin-bottom: 0;
}

/* hide icons in datepicker, they just clutter it up */
.daterangepicker_input svg {
    display: none;
}
