<div class="container-fluid">
  <header class="d-flex justify-content-between py-2">
    <h1 class="d-inline-block">Manage Content</h1>
    <%= back_button %>
  </header>
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <%= link_to "General Content", edit_visitor_page_content_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Frequently asked questions", admin_frequently_asked_questions_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Trailer interior features", admin_trailer_interior_features_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Trailer optional features", admin_trailer_optional_features_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
    <div class="card-body px-0">
      <% content_for(:title) do %>
        <%= display_resource_name(page.resource_name) %>
      <% end %>


        <header class="main-content__header d-flex justify-content-between py-2 px-3" role="banner">
          <h1 class="main-content__page-title d-inline-block" id="page-title">
            <%= content_for(:title) %>
          </h1>

          <% if show_search_bar %>
            <%= render(
                    "search",
                    search_term: search_term,
                    resource_name: display_resource_name(page.resource_name)
                ) %>
          <% end %>

          <%= link_to(fa_icon('plus', text: t(
              "administrate.actions.new_resource",
              name: page.resource_name.titleize.downcase
          )),
                      [:new, namespace, page.resource_path],
                      class: "btn btn-primary",
                      data: { role: "new-#{page.resource_name}" },
                      ) if valid_action?(:new) && show_action?(:new, new_resource) %>
        </header>

        <section class="main-content__body main-content__body--flush">
          <%= render(
                  "collection",
                  collection_presenter: page,
                  resources: resources,
                  table_title: "page-title"
              ) %>

          <%= paginate resources, theme: 'twitter-bootstrap-4' %>
        </section>
    </div>
  </div>
</div>
</div>

