<!DOCTYPE html>
<html>
<head>
  <title>Simply Privys</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= render 'application/favicon' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_pack_tag 'printable', media: 'all' %>
</head>

<body>
  <main id="page-content-wrapper" role="main">
    <%= yield %>
  </main>
<%= javascript_pack_tag 'application' %>
</body>
</html>
