<%= form_for visitor_page_content, url: visitor_page_content_path do |f| %>
  <h2>SEO Content</h2>

  <%= f.label(:seo_page_title, "Website Title (Title tags are displayed on search engine results pages as the clickable headline for a given result.)") %>
  <%= f.text_field :seo_page_title, class: 'form-control mb-3' %>

  <%= f.label(:seo_page_title_with_seo_location, "Website Title with an SEO location (SEO Location names will follow this text.)") %>
  <%= f.text_field :seo_page_title_with_seo_location, class: 'form-control mb-3' %>

  <%= f.label(:seo_page_description, "Website Description (They are between one sentence to a short paragraph and appear underneath the blue clickable links in a search engine results page.)") %>
  <%= f.text_field :seo_page_description, class: 'form-control mb-3' %>

  <hr>
  <h2>General Content</h2>

  <%= f.label(:website_header, "Website Header") %>
  <%= f.text_field :website_header, class: 'form-control mb-3' %>

  <%= f.label(:website_subheader, "Website Sub-Header") %>
  <%= f.text_field :website_subheader, class: 'form-control mb-3' %>

  <%= f.label(:how_it_works_header, "How It Works Section Header") %>
  <%= f.text_field :how_it_works_header, class: 'form-control mb-3' %>

  <%= f.label(:how_it_works_content, "How It Works Section Text Content") %>
  <%= f.text_field :how_it_works_content, class: 'form-control mb-3' %>

  <%= f.label(:contact_header, "Contact Section Header") %>
  <%= f.text_field :contact_header, class: 'form-control mb-3' %>

  <%= f.label(:phone, "Phone Number") %>
  <%= f.text_field :phone, class: 'form-control mb-3' %>

  <%= f.label(:email, "Email") %>
  <%= f.text_field :email, class: 'form-control mb-3' %>

  <div class="buttons mt-3">
    <%= button_tag class: 'btn btn-primary' do %>
      <%= fa_icon('save', text: 'Save', icon_class: 'ml-3') %>
    <% end %>
  </div>

<% end %>