<div class="container-fluid">
  <header class="d-flex justify-content-between py-2">
    <h1 class="d-inline-block">Manage Content</h1>
    <%= back_button %>
  </header>
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <%= link_to "General Content", edit_visitor_page_content_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Frequently asked questions", admin_frequently_asked_questions_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Trailer interior features", admin_trailer_interior_features_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Trailer optional features", admin_trailer_optional_features_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <%= render partial: 'visitor_page_contents/form', locals: {visitor_page_content: @visitor_page_content} %>
    </div>
  </div>
</div>
</div>