/*=========================================================================
    Visitor-Specific Globals
-------------------------------------------------------------------------*/
body {
    margin-top: 96px; /* adjust for fixed navbar */
    font-family: 'Quattrocento Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quattrocento', serif;
}

/* Fix scrolling with fixed navbar*/
/*div.smooth_scroll_target {*/
    /*display: block;*/
    /*position: relative;*/
    /*top: -96px;*/
    /*visibility: hidden;*/
/*}*/

/* Sexy text! */
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}


/*=========================================================================
    Hero Section
-------------------------------------------------------------------------*/
/* Fade through multiple photos for hero background */
#hero.bg-fade {
    /*background-image: url('assets/hero/wedding_lighting.jpg'); !* Default image (if no JS) *!*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

#hero {
    height: 450px;
}

@media (max-width: 575.98px) {
    #hero {
        height: 300px;
    }
    #hero .display-4 {
        font-size: 1.5rem;
    }
    #hero p.lead {
        font-size: 0.75rem;
    }
    #hero .btn-lg {
        font-size: 0.75rem;
    }
}

#hero .container {
    background: rgba(0, 0, 0, 0.7);
}

/*=========================================================================
    Carousel
    (from https://getbootstrap.com/docs/4.0/examples/carousel/)
-------------------------------------------------------------------------*/
#trailers-gallery-carousel {
    height: 100%;
}
.carousel-inner {

}
.carousel-item {

}
.carousel-item > img {
    width: 100%;
}

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
}


/*=========================================================================
    FAQ Section
-------------------------------------------------------------------------*/
#faq_cards button {
    white-space: normal;
}