<%= simple_form_for user do |f| %>
  <%= f.input :email, autofocus: true, autocomplete: "email", required: true %>
  <%= f.input :password, autocomplete: "off", required: true %>
  <%= f.submit "Sign up", class: 'btn btn-success btn-block mt-4' %>

  <div class="other-links mt-4">
    <%= link_to t(".sign_in"), sign_in_path %>
  </div>
<% end %>