<div id="clearance" class="sign-up">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
      <div class="card my-5">
        <h5 class="card-header bg-dark text-white">Sign up</h5>
        <div class="card-body">
          <%= render partial: '/users/form', locals: { user: @user } %>
        </div>
      </div>
    </div>
  </div>
</div>
