<%#
# Collection

This partial is used on the `index` and `show` pages
to display a collection of services in an HTML table.

## Local variables:

- `collection_presenter`:
  An instance of [Administrate::Page::Collection][1].
  The table presenter uses `ResourceDashboard::COLLECTION_ATTRIBUTES` to determine
  the columns displayed in the table
- `services`:
  An ActiveModel::Relation collection of services to be displayed in the table.
  By default, the number of services is limited by pagination
  or by a hard limit to prevent excessive page load times

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Collection
%>

<table aria-labelledby="<%= table_title %>" class="table table-responsive-md z-depth-1">
  <thead>
    <tr class="blue-grey lighten-5">
      <% collection_presenter.attribute_types.each do |attr_name, attr_type| %>
        <th class="cell-label cell-label--<%= attr_type.html_class %> cell-label--<%= collection_presenter.ordered_html_class(attr_name) %>"
            scope="col"
            role="columnheader"
            aria-sort="<%= sort_order(collection_presenter.ordered_html_class(attr_name)) %>">
          <%= link_to(sanitized_order_params.merge(collection_presenter.order_params_for(attr_name))) do %>
            <%= t(
              "helpers.label.#{collection_presenter.resource_name}.#{attr_name}",
              default: attr_name.to_s,
            ).titleize %>

            <% if collection_presenter.ordered_by?(attr_name) %>
              <span class="cell-label__sort-indicator cell-label__sort-indicator--<%= collection_presenter.ordered_html_class(attr_name) %>">
                <%= fa_icon('caret-up') %>
              </span>
            <% end %>
          <% end %>
        </th>
      <% end %>
      <% [valid_action?(:edit, collection_presenter.resource_name),
          valid_action?(:destroy, collection_presenter.resource_name)].count(true).times do %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% resources.each do |resource| %>
      <tr class="js-table-row"
          tabindex="0"
          <% if valid_action? :show, collection_presenter.resource_name %>
            <%= %(role=link data-url=#{polymorphic_path([namespace, resource])}) %>
          <% end %>
          >
        <% collection_presenter.attributes_for(resource).each do |attribute| %>
          <td class="cell-data cell-data--<%= attribute.html_class %>">
            <% if show_action? :show, resource -%>
              <a href="<%= polymorphic_path([namespace, resource]) -%>"
                 class="action-show"
                 >
                <%= render_field attribute %>
              </a>
            <% end -%>
          </td>
        <% end %>

        <td class="buttons-column d-flex justify-content-around">
          <% if valid_action? :edit, collection_presenter.resource_name %>
            <%= link_to(
                        fa_icon('pencil-alt', text: 'Edit'),
                        [:edit, namespace, resource],
                        class: "text-info",
                        ) if show_action? :edit, resource%>
          <% end %>

          <% if valid_action? :destroy, collection_presenter.resource_name %>
            <%= link_to(
                        fa_icon('trash', text: 'Delete'),
                        [namespace, resource],
                        class: "text-danger",
                        method: :delete,
                        data: { confirm: t("administrate.actions.confirm") }
                    ) if show_action? :destroy, resource %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
