<!-- <form class="search" role="search">
  <span class="search__icon">
    <%#= svg_tag "administrate/search.svg", "search", width: 16, height: 16 %>
  </span>
  <input
    type="text"
    name="search"
    class="search__input"
    placeholder="Search"
    value="<%= search_term %>"
    aria-label="Search"
  />
  <span class="search__hint">
    Press enter to search
  </span>
  <span class="search__clear">
    <%#= link_to clear_search_params do %>
      <%#= svg_tag "administrate/cancel.svg", "cancel-search", width: 16, height: 16 %>
    <%# end %>
  </span>
</form>
 -->

<form class="search form-inline ml-5" role="search" style="display:inline-block;">
  <div class="form-group">
    <div class="md-form input-group mt-1">
      <div class="input-group-prepend">
        <div class="input-group-text md-addon"><%= fa_icon 'search' %></div>
      </div>
      <input
        type="text"
        name="search"
        class="search__input form-control"
        placeholder="Search"
        value="<%= search_term %>"
        aria-label="Search"
      />
      <%= link_to fa_icon('times'), clear_search_params, class: 'mt-2 px-3 dark-grey-text' %>
    </div>
  </div>  
</form>
