<ul class="nav nav-sidebar">
	<% Administrate::Namespace.new(namespace).resources.each do |resource| %>
		<%= content_tag :li, class: "#{nav_link_state(resource)}" do %>
			<%= link_to(
				display_resource_name(resource),
				[namespace, resource.path],
				class: "admin-nav-link"
	    	) %>
		<% end %>
	<% end %>
</ul>