<%#
# Edit

This view is the template for the edit page.

It displays a header, and renders the `_form` partial to do the heavy lifting.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to help display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>

<% content_for(:title) { t("administrate.actions.edit_resource", name: page.page_title) } %>

<div class="container-fluid">
  <header class="d-flex justify-content-between py-2" role="banner">
    <h1 class="d-inline-block"><%= content_for(:title) %></h1>
    <%= link_to fa_icon('chevron-left', text: t("administrate.actions.back")),
                :back, class: "btn btn-light" %>
  </header>

  <section class="main-content__body">
    <%= render "form", page: page %>
  </section>
</div>
