<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) } %>

<div class="container-fluid">
  <header class="d-flex justify-content-between py-2">
    <h1 class="d-inline-block"><%= content_for(:title) %></h1>
    <div class="buttons d-flex justify-content-around">
      <%= link_to(
              fa_icon('pencil-alt', text: t("administrate.actions.edit_resource", name: page.page_title)),
              [:edit, namespace, page.resource],
              class: "btn btn-warning",
              ) if valid_action?(:edit) && show_action?(:edit, page.resource) %>
      <%= link_to fa_icon('chevron-left', text: t("administrate.actions.back")),
                  :back, class: "btn btn-light" %>
    </div>
  </header>

  <section class="main-content__body">
    <table class="table z-depth-1">
      <% page.attributes.each do |attribute| %>
        <tr>
          <td><strong><%= t("helpers.label.#{resource_name}.#{attribute.name}",default: attribute.name.titleize) %></strong></td>
          <td class="attribute-data attribute-data--<%=attribute.html_class%>"><%= render_field attribute %></td>
        </tr>
      <% end %>
    </table>
  </section>
</div>
