<%= simple_form_for @customer do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :phone %>
  <%= f.input :company_name %>

  <div class="buttons">
    <%= submit_button(f: f, text: 'Save Customer') %>
    <%= cancel_button %>
  </div>
<% end %>
