<div id="customer-search-form">
  <%= form_tag(customers_path, method: :get) do %>
    <div class="input-group md-form my-3">
      <div class="input-group-prepend">
        <div class="input-group-text md-addon"><%= fa_icon 'search', icon_class: 'dark-grey-text'  %></div>
      </div>
      <%= text_field_tag :search_term, params[:search_term], placeholder: 'Search' %>
      <%= link_to fa_icon('times'), customers_path, class: 'px-3 dark-grey-text' %>
      <%#= submit_tag('Submit', class: 'btn btn-sm btn-info py-0 my-0') %>
    </div>
  <% end %>
</div>
