<dl class="row ml-2">
  <dt class="col-sm-3 mb-3">Name</dt>
  <dd class="col-sm-9"><%= customer.first_name %> <%= customer.last_name %></dd>

  <dt class="col-sm-3 mb-3">Email</dt>
  <dd class="col-sm-9"><%= customer.email %></dd>

  <dt class="col-sm-3 mb-3">Phone</dt>
  <dd class="col-sm-9"><%= customer.phone %></dd>

  <dt class="col-sm-3 mb-3">Created at</dt>
  <dd class="col-sm-9"><%= customer.updated_at %></dd>

  <dt class="col-sm-3">Updated at</dt>
  <dd class="col-sm-9"><%= customer.updated_at %></dd>
</dl>
<div class="d-flex justify-content-end">
  <%= link_to 'Edit Customer', edit_customer_path(customer),
              :class => "text-info ml-4 my-1 edit-customer-button",
              :method => :get %>
</div>
