<div class="container-fluid">
  <header class="d-flex justify-content-between py-2">
    <h1 class="d-inline-block">Customers</h1>
    <%= render 'customers/search' %>
    <%= new_button new_customer_path, text: 'New Customer' %>
  </header>


  <table class="table table-responsive-md z-depth-1" id="customers-table">
    <thead>
    <tr class="blue-grey lighten-5">
      <th scope="col"><%= button_to "First Name", customers_path, method: :get, params: {search_term: params[:search_term], sort_by: 'first_name', sort_order: (params[:sort_order] == 'desc' ? :asc : :desc)}, class: "table-header-sortable" %></th>
      <th scope="col"><%= button_to "Last Name", customers_path, method: :get, params: {search_term: params[:search_term], sort_by: 'last_name', sort_order: (params[:sort_order] == 'desc' ? :asc : :desc)}, class: "table-header-sortable" %></th>
      <th scope="col"><%= button_to "Email", customers_path, method: :get, params: {search_term: params[:search_term], sort_by: 'email', sort_order: (params[:sort_order] == 'desc' ? :asc : :desc)}, class: "table-header-sortable" %></th>
      <th scope="col"><%= button_to "Phone", customers_path, method: :get, params: {search_term: params[:search_term], sort_by: 'phone', sort_order: (params[:sort_order] == 'desc' ? :asc : :desc)}, class: "table-header-sortable" %></th>
      <th scope="col"><%= button_to "Created", customers_path, method: :get, params: {search_term: params[:search_term], sort_by: 'created_at', sort_order: (params[:sort_order] == 'desc' ? :asc : :desc)}, class: "table-header-sortable" %></th>
      <th scope="col"><%= button_to "Updated", customers_path, method: :get, params: {search_term: params[:search_term], sort_by: 'updated_at', sort_order: (params[:sort_order] == 'desc' ? :asc : :desc)}, class: "table-header-sortable" %></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <% @customers.each do |customer| %>
      <tr id="customer_<%= customer.id %>">
        <td><%= link_to customer.first_name, customer_path(customer) %></td>
        <td><%= link_to customer.last_name, customer_path(customer) %></td>
        <td><%= link_to customer.email, customer_path(customer) %></td>
        <td><%= link_to customer.phone, customer_path(customer) %></td>
        <td><%= time_ago_in_words(customer.created_at) %> Ago</td>
        <td><%= time_ago_in_words(customer.updated_at) %> Ago</td>
        <td>
          <div class="d-flex justify-content-around">
            <%= edit_link_in_table edit_customer_path(customer) %>
            <%= delete_link_in_table customer_path(customer) %>
          </div>
        </td>
      </tr>
    <% end %>
    <% if @customers.length == 0 %>
      <tr>
        <td colspan="7" class="text-center font-italic">No results found, please redefine your search terms and try again.</td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @customers, theme: 'twitter-bootstrap-4' %>
</div>
