<div class="container-fluid my-4">
  <header class="d-flex justify-content-between py-2">
    <h1 class="d-inline-block">New Customer</h1>
    <%= back_button %>
  </header>

  <%= render 'customers/form' %>
</div>
