<div class="container-fluid">
  <header class="d-flex justify-content-between py-2">
    <h1 class="d-inline-block">Customer</h1>
    <%= new_button new_customer_reservation_path(@customer), text: 'New Reservation' %>
  </header>

  <div class="row">
    <div class="col-lg-5">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= fa_icon 'user', icon_class: 'mr-4 fa-lg dark-grey-text' %><%= @customer.full_name %></li>
            <li class="list-group-item"><%= fa_icon 'envelope', icon_class: 'mr-4 fa-lg dark-grey-text' %><%= @customer.email %></li>
            <li class="list-group-item"><%= fa_icon 'phone', icon_class: 'mr-4 fa-lg dark-grey-text' %><%= @customer.phone %></li>
            <% if @customer.company_name %>
              <li class="list-group-item"><%= fa_icon 'building', icon_class: 'mr-4 fa-lg dark-grey-text' %><%= @customer.company_name %></li>
            <% end %>
            <p class="font-weight-light font-85 text-w mt-4 ml-3">Created <%= time_ago_in_words(@customer.created_at) %>
              ago</p>
            <p class="font-weight-light font-85 ml-3">Updated <%= time_ago_in_words(@customer.updated_at) %> ago</p>
            <% if @customer.deleted? %>
              <p class="font-weight-light text-danger font-85 ml-3">Deactivated <%= time_ago_in_words(@customer.deleted_at) %> ago</p>
            <% end %>
          </ul>
          <%= link_to fa_icon('trash-alt', text: 'Delete Customer'), customer_path(@customer),
                      :class => "my-4 mr-2 text-danger font-weight-light font-85 float-right delete-customer-button",
                      :method => :delete, data: {confirm: 'Are you sure you wish to delete this customer?'} unless @customer.deleted? %>
          <%= link_to fa_icon('pencil-alt', text: 'Edit Customer'), edit_customer_path,
                      :class => "my-4 mr-4 text-info font-weight-light font-85 float-right edit-customer-button", :method => :get %>
        </div>
      </div>
    </div>
    <div class="col-lg-7 mt-4 mt-md-3 mt-lg-0">
      <div class="card">
        <div class="card-header text-center py-2"><%= fa_icon 'history', icon_class: 'mr-2' %><h5 class="d-inline-block">Reservation History</h5></div>
        <div class="card-body">
          <% if @customer.reservations.length > 0 %>
            <table class="table table-sm table-striped table-responsive-md">
              <thead>
              <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Created</th>
              </tr>
              </thead>
              <tbody>
              <% @customer.reservations.reverse_each do |reservation| %>
                <tr>
                  <td><%= link_to reservation.name, reservation_path(reservation) %></td>
                  <td><%= link_to reservation.status.titleize, reservation_path(reservation) %></td>
                  <td><%= link_to "#{time_ago_in_words(reservation.created_at)} ago", reservation_path(reservation) %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% end %>
          <% if @customer.reservations.length == 0 %>
            <p class="font-weight-light font-italic text-center mt-4">No reservations found</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="mt-4">
    <%= back_button %>
  </div>

</div>