<%= simple_form_for @rental do |f| %>
  <%= f.hidden_field :reservation_id %>
  <%= f.association :item, as: :select, include_blank: false %>
  <%= f.input :duration_type, collection: Rental.duration_types, include_blank: false %>
  <%= f.input :start_time, as: :date_time_picker %>
  <%= f.input :end_time, as: :date_time_picker %>

  <div class="buttons">
    <%= submit_button(f: f, text: 'Continue', icon: 'chevron-right') %>
    <%= cancel_button %>
  </div>
<% end %>
