<section id="new-rental-form">
  <%= simple_form_for @rental, url: reservation_rentals_path(@reservation), method: :post do |f| %>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <%= f.association :item, as: :select, include_blank: false %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.input :start_time, as: :date_time_picker %>
        </div>
      </div>
      <div class="col-md-4">
        <%= f.input :end_time, as: :date_time_picker %>
      </div>
    </div>
    <%= f.submit 'Add Rental', class: 'btn btn-sm btn-primary' %>
  <% end %>
</section>
