<% if rentals.length > 0 %>
  <table class="table table-sm table-striped table-responsive-md" id="rentals-table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item</th>
      <th scope="col">Delivery Time</th>
      <th scope="col">Pickup Time</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <% rentals.each do |rental| %>
      <tr id="rental_<%= rental.id %>">
        <th><%= rental.id %></th>
        <th><%= rental.item.name %></th>
        <th><%= rental.start_time %></th>
        <th><%= rental.end_time %></th>
        <td class="d-flex justify-content-end">
          <div class="mr-3" id="rental-links">
            <%#= link_to fa_icon('pencil-alt'), edit_rental_path(rental), :class => "btn btn-sm btn-warning edit-rental-button mr-md-2", :method => :get %>
            <%= link_to 'Edit', edit_rental_path(rental),
                        :class => "text-info edit-rental-button mr-md-4", :method => :get %>
            <%#= link_to fa_icon('trash'), rental_path(rental), :class => "btn btn-sm btn-danger delete-rental-button", :method => :delete, data: {confirm: "Are you sure you want to delete this rental?"} %>
            <%= link_to 'Delete', rental_path(rental),
                        :class => "text-danger delete-rental-button", :method => :delete, data: {confirm: "Are you sure you want to delete this rental?"} %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>No rentals yet</p>
<% end %>
