<div class="container-fluid my-4">
  <h1 class="d-inline-block">Edit Rental</h1>
  <%= link_to fa_icon('chevron-left', text: 'Back'), reservation_path(@rental.reservation),
              class: 'btn btn-light float-right' %>
  <h4><%= link_to fa_icon('book', text: @rental.reservation.name), @rental.reservation %></h4>
  <hr class="clearfix">
  <%= render 'rentals/form' %>

  <div class="mt-4">
    <%= link_to fa_icon('chevron-left', text: 'Back'), reservation_path(@rental.reservation) %>
  </div>
</div>