<footer class="bg-dark">
  <div class="container text-light">
  <!-- Contact info -->
    <div class="row">
      <!--arge screen contact with icons-->
      <div class="col-6 col-md-3 text-right pr-0 mt-5 d-none d-lg-block">
        <div class="mb-5 border-right border-secondary">
          <h6 class="text-uppercase mr-3">phone</h6>
          <p class="mr-3"><a class="text-white" href="tel:+1-435-631-2603"><%= SingularPageContent.value_for(:phone) %></a></p>
        </div>
        <div class="mb-5 border-right border-secondary">
          <h6 class="text-uppercase mr-3">Email</h6>
          <p class="mr-3"><%= SingularPageContent.value_for(:email) %></p>
        </div>
      </div>
      <div class="col-6 col-md-3 pl-0 mt-5 d-none d-lg-block">
        <div class="mb-5">
          <i class="fas fa-mobile fa-2x fa-fw mt-2 ml-3 text-secondary"></i>
        </div>
        <div class="mb-5">
          <i class="fas fa-envelope fa-2x fa-fw mt-3 ml-3 text-secondary"></i>
        </div>
      </div>

      <!--Logo-->
      <div class="col-12 col-lg-6">
        <%= image_tag 'logo/sp_logo_white.png', class: 'mx-auto d-block d-none d-md-block', alt: 'Simply Privys' %>
        <!--Small screen contact without icons-->
        <div class="d-lg-none pb-2">
          <p class="text-center">
            <a class="text-white font-weight-light" href="tel:+1-435-631-2603"><span>Phone: </span><span><%= SingularPageContent.value_for(:phone) %></span></a>
          </p>
          <p class="font-weight-light text-center">Email: <%= SingularPageContent.value_for(:email) %></p>
        </div>
        <!--Social buttons-->
        <div class="text-center">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <%= link_to 'https://twitter.com/SPrivys', class: 'btn btn-secondary mx-1' do %>
                <i class="fab fa-twitter"></i>
              <% end %>
            </li>
            <li class="list-inline-item">
              <%= link_to 'https://www.instagram.com/simplyprivys/', class: 'btn btn-secondary mx-1' do %>
                <i class="fab fa-instagram"></i>
              <% end %>
            </li>
            <li class="list-inline-item">
              <%= link_to 'https://www.facebook.com/Simply-Privys-189411568516913', class: 'btn btn-secondary mx-1' do %>
                <i class="fab fa-facebook"></i>
              <% end %>
            </li>
          </ul>
          <p class="mt-5 text-muted font-weight-light">&copy; Simply Privys 2018</p>
        </div>
        <!--/.Social buttons-->
      </div>
    </div>
  </div>
</footer>
