<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light" id="visitor-navbar">
  <%= link_to root_path, class: 'navbar-brand' do %>
  <%= image_tag 'logo/sp_logo_horizontal.png', alt: 'Simply Privys Logo' %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNavbar">

    <%# TODO: find a better place for this? That doesn't clash with responsiveness %>
    <!--<span class="navbar-text font-italic font-weight-bold text-info mx-auto">Local family-operated Utah company serving our community</span>-->

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to 'How it Works', '#how_it_works', class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'FAQ', '#faq', class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Contact Us', '#contact_us', class: 'nav-link' %>
      </li>

      <% if signed_in? %>
        <%# Back to admin %>
        <% if current_user.admin? %>
          <li class="nav-item">
            <%= link_to fa_icon('cogs', text: 'Dashboard', icon_class: 'fa-lg'), admin_root_path, class: 'nav-link' %>
          </li>
        <% end %>

        <%# Authentication dropdown %>
        <li class="nav-item dropdown">
          <a id="authenticated_nav_dropdown" class="nav-link dropdown-toggle" href role="button" data-toggle="dropdown">
            <%= fa_icon('user-circle', icon_class: 'fa-lg') %>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to fa_icon('user', text: current_user.email), '#', class: 'dropdown-item disabled', disabled: true %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Reset Password', new_password_path, class: 'dropdown-item' %>
            <%= link_to 'Sign out', sign_out_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <%# TODO: reactivate this once we're ready to expose the interior app %>
        <li class="nav-item">
          <%= link_to 'Sign in', sign_in_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>

  </div>
</nav>
