<!DOCTYPE html>
<html lang="en">
<head>
    <%= render 'layouts/visitor/google_tag' if ENV['ga_tracker'].present? %>
    <title><%= content_for(:title) || SingularPageContent.value_for(:seo_page_title) %></title>
    <meta name="description" content='<%= SingularPageContent.value_for(:seo_page_description) %>'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= render 'application/favicon' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'visitors' %>
    <%= stylesheet_pack_tag 'visitors' %>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento|Quattrocento+Sans" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#visitor-navbar" data-offset="0">
    <header>
      <%= render 'layouts/visitor/navigation' %>
    </header>

    <%= render 'layouts/visitor/messages' %>

    <main role="main">
      <%= yield %>
    </main>

    <%= render 'layouts/visitor/footer' %>
</body>
</html>
