body {
    margin-top: 73px; /* adjust for fixed navbar */
}

/* Sortable Table Header */
.table-header-sortable {
    border: none;
    cursor: pointer;
    padding-left: 0;
    background: transparent;
}

/* Font Size Scaling*/
.font-85 {
    font-size: 85%;
}
.font-75 {
    font-size: 75%;
}

td .form-group {
    margin-bottom: 0;
}
/* Fix layout when dragging using drag and drop */
.ui-sortable-helper {
    display: table;
    background: rgba(0,0,0,0.2);
}

/* Overide nav-link colors in cards to fix mdboostrap issue*/
.card .nav-link {color: #2BBBAD !important;}
.card .nav-link:hover {color: #00695c !important;}

