<section id="service-type-form">
  <%= simple_form_for Service.new(reservation: reservation), html: {class: 'form-inline'}, url: new_service_url, method: :get do |f| %>
    <%= f.association :service_type, as: :select, collection: ServiceType.all, include_blank: "Other" %>
    <%= f.hidden_field :reservation_id %>
    <%= f.submit 'Add Service', class: 'btn btn-sm btn-light py-1' %>
  <% end %>
</section>
