<%= simple_form_for @reservation do |f| %>
  <div class="form-row">
    <div class="col-md"><%= f.input :name, label: 'Reservation Name' %></div>
    <div class="col-md"><%= f.association :customer %></div>
    <div class="col-md"><%= f.input :status, collection: Reservation.statuses.keys %></div>
  </div>

  <div class="form-row">
    <div class="col-md-3">
      <%= f.input :event_date, as: :date_picker %>
    </div>
    <div class="col-md-7">
      <%= f.input :event_location %>
    </div>
    <div class="col-md-2">
      <%= f.input :number_of_guests %>
    </div>
  </div>

  <%= f.input :power_on_site %>
  <%= f.input :water_on_site %>

  <%= f.input :additional_notes, as: :text %>

  <div class="buttons">
    <%= submit_button(f: f, text: 'Save Reservation') %>
    <%= cancel_button %>
  </div>
<% end %>
