<dl class="row ml-2">
  <dt class="col-sm-3 mb-3">Name</dt>
  <dd class="col-sm-9"><%= reservation.name %></dd>

  <dt class="col-sm-3 mb-3">Description</dt>
  <dd class="col-sm-9"><%= reservation.description %></dd>

  <dt class="col-sm-3 mb-3">Requested Delivery Time</dt>
  <dd class="col-sm-9"><%= reservation.requested_delivery_time %></dd>

  <dt class="col-sm-3 mb-3">Requested Pickup Time</dt>
  <dd class="col-sm-9"><%= reservation.requested_pickup_time %></dd>

  <dt class="col-sm-3">Updated at</dt>
  <dd class="col-sm-9"><%= reservation.customer.updated_at %></dd>
</dl>
<div class="d-flex justify-content-end">
  <%= link_to fa_icon('pencil-alt', text: 'Edit Reservation'), edit_reservation_path(reservation),
              :class => "btn btn-sm btn-warning btn text-white my-1 edit-reservation-button" %>
  <%= link_to fa_icon('trash', text: 'Delete Reservation'), reservation_path(reservation),
              :class => "btn btn-sm btn-danger btn text-white my-1 delete-reservation-button",
              :method => :delete %>
</div>
