<% if reservations.length > 0 %>
  <table class="table table-striped table-responsive-md">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Customer</th>
    <th scope="col">Event Date</th>
    <th scope="col">Created At</th>
    <th scope="col">Updated At</th>
  </tr>
  </thead>
  <tbody>
  <% reservations.each do |reservation| %>
    <tr id="reservation_<%= reservation.id %>">
      <td><%= link_to reservation.name, reservation_path(reservation) %></td>
      <th><%= link_to reservation.customer, reservation %></th>
      <th><%= link_to reservation.event_date.try(:to_s, :long) || '', reservation %></th>
      <th><%= time_ago_in_words(reservation.created_at) %> ago</th>
      <th><%= time_ago_in_words(reservation.updated_at) %> ago</th>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
