<div class="container-fluid">
  <header class="d-flex justify-content-between py-2">
    <h1 class="d-inline-block">Reservations</h1>
    <%= new_button new_reservation_path, text: 'New Reservation' %>
  </header>

  <table class="table table-responsive-lg z-depth-1">
    <thead>
    <tr class="blue-grey lighten-5">
      <th>#</th>
      <th>Name</th>
      <th>Status</th>
      <th>Customer</th>
      <th>Event Date</th>
      <th>Event Location</th>
      <th># Guests</th>
      <th>Power/Water</th>
      <th>Updated</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @reservations.each do |reservation| %>
      <tr id="reservation_<%= reservation.id %>">
        <th><%= link_to reservation.id, reservation %></th>
        <td><%= link_to reservation.name, reservation %></td>
        <th><%= link_to reservation.status.titleize, reservation %></th>
        <th><%= link_to reservation.customer, reservation %></th>
        <th><%= link_to reservation.event_date || '', reservation %></th>
        <th><%= link_to reservation.event_location || '', reservation %></th>
        <th><%= link_to reservation.number_of_guests || '', reservation %></th>
        <th>
          <div class="text-<%= reservation.power_on_site? ? 'success' : 'danger' %>">
            <%= fa_icon (reservation.power_on_site? ? 'check' : 'times'), text: 'Power' %>
          </div>
          <div class="text-<%= reservation.water_on_site? ? 'success' : 'danger' %>">
            <%= fa_icon (reservation.water_on_site? ? 'check' : 'times'), text: 'Water' %>
          </div>
        </th>
        <th><%= link_to "#{time_ago_in_words reservation.updated_at} ago" %></th>
        <td>
          <div class="d-flex justify-content-around">
            <%= edit_link_in_table edit_reservation_path(reservation) %>
            <%= delete_link_in_table reservation_path(reservation) %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
