<div class="container-fluid">
  <header class="d-flex justify-content-between py-2">
    <h1 class="d-inline-block">New Reservation</h1>
    <%= back_button %>
  </header>

  <%= simple_form_for @reservation_form, url: reservations_path do |f| %>
    <hr>
    <div class="row">
      <div class="col-lg-3">
        <h5>Select Existing Customer</h5>
        <%= f.input :customer_id, label: false, collection: Customer.all %></div>
      <div class="col-lg-1">
        <h5 class="text-info">OR</h5>
      </div>
      <div class="col-lg-8">
        <h5>Create New Customer</h5>
        <div class="form-row">
          <div class="col"><%= f.input :customer_first_name, label: false, placeholder: 'First Name' %></div>
          <div class="col"><%= f.input :customer_last_name, label: false, placeholder: 'Last Name' %></div>
          <div class="col"><%= f.input :customer_email, label: false, placeholder: 'Email' %></div>
          <div class="col"><%= f.input :customer_phone, label: false, placeholder: 'Phone' %></div>
        </div>
      </div>
    </div>

    <hr>
    <h5>Event Information</h5>
    <div class="form-row">
      <div class="col-lg-2"><%= f.input :event_date, as: :date_picker, label: false, placeholder: 'Event Date' %></div>
      <div class="col-lg-3"><%= f.input :event_type, label: false, placeholder: 'Event Type (i.e. Wedding)' %></div>
      <div class="col-lg-5"><%= f.input :event_location, label: false, placeholder: 'Event Location' %></div>
      <div class="col-lg-2"><%= f.input :number_of_guests, label: false, placeholder: '# of Guests' %></div>
    </div>
    <%= f.input :power_on_site, as: :boolean %>
    <%= f.input :water_on_site, as: :boolean %>

    <hr>
    <h5>Additional Notes</h5>
    <%= f.input :additional_notes, as: :text, label: false %>
    <%= submit_button(f: f, text: 'Save Reservation') %>
    <%= cancel_button %>
  <% end %>
</div>
