<div class="container-fluid">

  <header class="d-flex justify-content-between py-2">
    <h1 class="d-inline-block">
      Reservation #<%= @reservation.id %>
      &mdash;
      <span class="text-info"><%= @reservation.name %></span>
    </h1>
    <%= back_button %>
  </header>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <dl class="row ml-2">
            <dt class="col-sm-3 mb-3">Status</dt>
            <dd class="col-sm-9"><%= @reservation.status.titleize %></dd>

            <dt class="col-sm-3 mb-3">Customer Name</dt>
            <dd class="col-sm-9"><%= link_to @reservation.customer, @reservation.customer %></dd>

            <dt class="col-sm-3 mb-3">Company Name</dt>
            <dd class="col-sm-9"><%= @reservation.customer.company_name %></dd>

            <dt class="col-sm-3 mb-3">Phone</dt>
            <dd class="col-sm-9"><%= link_to @reservation.customer.phone, "tel:#{@reservation.customer.phone}" %></dd>

            <dt class="col-sm-3 mb-3">Email</dt>
            <dd class="col-sm-9"><%= mail_to @reservation.customer.email %></dd>
          </dl>
        </div>
        <div class="col">
          <dl class="row ml-2">
            <dt class="col-sm-3 mb-3">Event Address</dt>
            <dd class="col-sm-9"><%= @reservation.event_location.try(:titleize) %></dd>

            <dt class="col-sm-3 mb-3">Event Date</dt>
            <dd class="col-sm-9"><%= @reservation.event_date.try(:to_s, :long) %></dd>

            <dt class="col-sm-3 mb-3">Delivery Time</dt>
            <dd class="col-sm-9"><%= @reservation.first_delivery_time.try(:to_s, :short) %></dd>

            <dt class="col-sm-3 mb-3">Pickup Time</dt>
            <dd class="col-sm-9"><%= @reservation.last_pickup_time.try(:to_s, :short) %></dd>

            <dt class="col-sm-3 mb-3">Number of Guests</dt>
            <dd class="col-sm-9"><%= @reservation.number_of_guests %></dd>

            <dt class="col-sm-3">Power on Site</dt>
            <dd class="col-sm-9">
              <% if @reservation.power_on_site %>
                Yes
              <% else %>
                No
              <% end %>
            </dd>

            <dt class="col-sm-3">Water on Site</dt>
            <dd class="col-sm-9">
              <% if @reservation.water_on_site %>
                Yes
              <% else %>
                No
              <% end %></dd>
          </dl>
        </div>
      </div>
      <% if @reservation.additional_notes.present? %>
        <dl class="row ml-2">
          <dt class="col-sm-3 mb-3">Additional Notes</dt>
          <dd class="col-sm-9"><%= @reservation.additional_notes %></dd>
        </dl>
      <% end %>

      <%= edit_button edit_reservation_path(@reservation), text: 'Edit Reservation Details' %>
      <%= link_to fa_icon('print', text: 'Print Contract/Quote'),
                  reservation_contract_path(@reservation),
                  target: :_blank, class: 'btn btn-info' %>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <table class="table table-responsive-md">
        <thead>
        <tr>
          <th>Item</th>
          <th>Qty</th>
          <th>Price</th>
          <th>Discount %</th>
          <th>Subtotal</th>
          <th>Tax %</th>
          <th>Total</th>
          <th></th>
        </tr>
        </thead>

        <%# Rentals %>
        <tbody>
        <% @reservation.rentals.each do |rental| %>
          <tr id="rental_<%= rental.id %>">
            <% if rental.line_item.present? %>
              <td><%= rental.line_item.description %></td>
              <td><%= rental.line_item.quantity %></td>
              <td><%= number_to_currency rental.line_item.price %></td>
              <td><%= rental.line_item.discount_percent %></td>
              <td><%= number_to_currency rental.line_item.post_discount_subtotal %></td>
              <td><%= rental.line_item.tax_percent %></td>
              <td><%= number_to_currency rental.line_item.post_tax_subtotal %></td>
            <% else %>
              <td><%= rental %></td>
              <td colspan="6" class="text-warning">No billing information for this item
                yet. <%= link_to 'Click here', new_rental_line_item_path(rental), class: 'text-primary' %> to edit.
              </td>
            <% end %>
            <td>
              <div class="d-flex justify-content-around">
                <%= edit_link_in_table edit_rental_path(rental) %>
                <%= delete_link_in_table rental_path(rental) %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>

        <%# Services %>
        <tbody>
        <% @reservation.services.each do |service| %>
          <tr id="service_<%= service.id %>">
            <% if service.line_item.present? %>
              <td><%= service.line_item.description %></td>
              <td><%= service.line_item.quantity %></td>
              <td><%= number_to_currency service.line_item.price %></td>
              <td><%= service.line_item.discount_percent %></td>
              <td><%= number_to_currency service.line_item.post_discount_subtotal %></td>
              <td><%= service.line_item.tax_percent %></td>
              <td><%= number_to_currency service.line_item.post_tax_subtotal %></td>
            <% else %>
              <td><%= service %></td>
              <td colspan="6" class="text-warning">No billing information for this item
                yet. <%= link_to 'Click here', new_service_line_item_path(service), class: 'text-primary' %> to edit.
              </td>
            <% end %>
            <td>
              <div class="d-flex justify-content-around">
                <%= edit_link_in_table edit_service_path(service) %>
                <%= delete_link_in_table service_path(service) %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>

        <%# Totals %>
        <tbody id="totals">
        <% if @reservation.invoice.tax_amount > 0 %>
          <tr id="pre_tax_subtotal">
            <td colspan="6" class="text-right">Subtotal</td>
            <td><%= number_to_currency @reservation.invoice.pre_tax_subtotal %></td>
            <td></td>
          </tr>
          <tr id="tax_amount">
            <td colspan="6" class="text-right">Tax</td>
            <td><%= number_to_currency @reservation.invoice.tax_amount %></td>
            <td></td>
          </tr>
        <% end %>
        <tr id="total">
          <td colspan="6" class="text-right">Total</td>
          <td class="text-primary"><%= number_to_currency @reservation.invoice.total %></td>
          <td></td>
        </tr>
        </tbody>
      </table>

      <div class="d-flex">
        <%= link_to fa_icon('plus', text: 'Add Rental'), new_reservation_rental_path(@reservation), class: 'btn btn-default' %>
        <%= link_to fa_icon('plus', text: 'Add Service'), new_reservation_service_path(@reservation), class: 'btn btn-default' %>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end mt-1">

  </div>

  <div class="mt-4">
    <%= back_button %>
  </div>

</div>
