<div id="clearance" class="password-reset">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
      <div class="card my-5">
        <h5 class="card-header bg-dark text-white">Password Reset</h5>
        <div class="card-body">
          <p><%= t(".description") %></p>
        </div>
      </div>
    </div>
  </div>
</div>
