<div id="clearance" class="password-reset">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
      <div class="card my-5">
        <h5 class="card-header bg-dark text-white"><%= t(".title") %></h5>
        <div class="card-body">
          <p><%= t(".description") %></p>
          <%= simple_form_for :password_reset,
                       url: user_password_path(@user, token: @user.confirmation_token),
                       html: { method: :put } do |form| %>
            <%= form.input :password %>
            <%= form.submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
