<div id="clearance" class="password-reset">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
      <div class="card my-5">
        <h5 class="card-header bg-dark text-white"><%= t(".title") %></h5>
        <div class="card-body">
          <p><%= t(".description") %></p>

          <%= simple_form_for :password, url: passwords_path do |form| %>
            <%= form.input :email, autofocus: true, required: true %>
            <%= form.submit class: 'btn btn-success btn-block' %>
          <% end %>

          <div class="other-links mt-4">
            <% if signed_out? %>
              <%= link_to t(".sign_in"), sign_in_path %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
