<div class="container-fluid pt-3">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs pull-right"  id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active text-dark" id="home-tab" data-toggle="tab" href="#reservations_inquiring" role="tab" aria-controls="home" aria-selected="true">
            Inquiries
            <span class="badge badge-pill badge-default font-weight-light ml-2"><%= @dashboard.reservations_inquiring.count %></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" id="profile-tab" data-toggle="tab" href="#reservations_today" role="tab" aria-controls="profile" aria-selected="false">
            Reservations Today
            <span class="badge badge-pill badge-default font-weight-light ml-2"><%= @dashboard.reservations_today.count %></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" id="contact-tab" data-toggle="tab" href="#reservations_upcoming" role="tab" aria-controls="contact" aria-selected="false">
            Upcoming Reservations
            <span class="badge badge-pill badge-default font-weight-light ml-2"><%= @dashboard.reservations_upcoming.count %></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="reservations_inquiring" role="tabpanel" aria-labelledby="reservations_inquiring-tab">
          <% if @dashboard.reservations_inquiring.count > 0 %>
            <%= render partial: "reservations/table", locals: { reservations: @dashboard.reservations_inquiring } %>
          <% else %>
            <p class="font-weight-light font-italic text-center">No recent inquiries</p>
          <% end %>
        </div>
        <div class="tab-pane fade" id="reservations_today" role="tabpanel" aria-labelledby="profile-tab">
          <% if @dashboard.reservations_today.count > 0 %>
            <%= render partial: "reservations/table", locals: { reservations: @dashboard.reservations_today } %>
          <% else %>
            <p class="font-weight-light font-italic text-center">No reservations today</p>
          <% end %>
        </div>
        <div class="tab-pane fade" id="reservations_upcoming" role="tabpanel" aria-labelledby="contact-tab">
          <% if @dashboard.reservations_upcoming.count > 0 %>
            <%= render partial: "reservations/table", locals: { reservations: @dashboard.reservations_upcoming } %>
          <% else %>
            <p class="font-weight-light font-italic text-center">No upcoming reservations</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
