<%= form_for inquiry, remote: true, format: :json do |f| %>

  <div class="form-row">
    <div class="mt-2 col-sm-6 col-md-6 col-lg-3">
      <%= f.text_field :first_name, class: 'form-control', placeholder: '*First Name' %>
    </div>
    <div class="mt-2 col-sm-6 col-md-6 col-lg-3">
      <%= f.text_field :last_name, class: 'form-control', placeholder: '*Last Name' %>
    </div>
    <div class="mt-2 col-sm-12 col-md-8 col-lg-3">
      <%= f.email_field :email, class: 'form-control', placeholder: '*Email' %>
    </div>
    <div class="mt-2 col-sm-12 col-md-4 col-lg-3">
      <%= f.text_field :phone, class: 'form-control', placeholder: '*Phone' %>
    </div>
    <div class="mt-2 col-sm-12 col-md-4 col-xl-3">
      <%= f.text_field :company_name, class: 'form-control', placeholder: 'Company Name' %>
    </div>
    <div class="mt-2 col-sm-12 col-md-4 col-xl-2">
      <%= f.text_field :event_date, class: 'form-control date_picker', placeholder: 'Event Date' %>
    </div>
    <div class="mt-2 col-sm-12 col-md-4 col-xl-2">
      <%= f.text_field :event_type, class: 'form-control', placeholder: 'Event Type' %>
    </div>
    <div class="mt-2 col-sm-12 col-md-8 col-xl-3">
      <%= f.text_field :event_location, class: 'form-control', placeholder: 'Location' %>
    </div>
    <div class="mt-2 col-sm-12 col-md-4 col-xl-2">
      <%= f.number_field :number_of_guests, class: 'form-control', placeholder: 'Number of Guests' %>
    </div>
    <div class="mt-2 col">
      <%= f.text_area :additional_notes, class: 'form-control', placeholder: 'Additional Questions or Comments' %>
    </div>
  </div>

  <div class="buttons mt-3">
    <%= button_tag class: 'btn btn-primary btn-lg' do %>
      <%= fa_icon('chevron-right', text: 'Get in Touch', right: true, icon_class: 'ml-2') %>
    <% end %>
  </div>

<% end %>

<%# Success modal %>
<div class="modal fade text-dark" id="inquiry_created_dialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thank You</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Thank you for your interest in Simply Privys.</p>
        <p></p>
        <p>An email confirmation has been sent to you, and we will reach out about your event or questions within 24 hours.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
