<% if @line_item.itemizable %>
  <% if @line_item.itemizable_type == 'Rental' %>
    <% rental = @line_item.itemizable %>
    <dl class="row ml-2">
      <dt class="col-sm-3 mb-3">Item</dt>
      <dd class="col-sm-9"><%= rental.item.name %></dd>

      <dt class="col-sm-3 mb-3">Billing Duration Type</dt>
      <dd class="col-sm-9"><%= rental.duration_type.titleize %></dd>

      <dt class="col-sm-3 mb-3">Start Time</dt>
      <dd class="col-sm-9"><%= rental.start_time.try(:to_s, :short) %></dd>

      <dt class="col-sm-3 mb-3">End Time</dt>
      <dd class="col-sm-9"><%= rental.end_time.try(:to_s, :short) %></dd>
    </dl>
  <% end %>
<% end %>

<h2 class="h4">Billing Information</h2>

<%= simple_form_for @line_item do |f| %>
  <%= f.hidden_field :invoice_id %>
  <%= f.hidden_field :itemizable_id %>
  <%= f.hidden_field :itemizable_type %>

  <div class="form-row">
    <div class="col-md-4"><%= f.input :description %></div>
    <div class="col-md-2"><%= f.input :quantity %></div>
    <div class="col-md-2"><%= f.input :price %></div>
    <div class="col-md-2"><%= f.input :discount_percent %></div>
    <div class="col-md-2"><%= f.input :tax_percent %></div>
  </div>

  <div class="buttons">
    <%= submit_button(f: f, text: 'Save', icon: 'chevron-right') %>
    <%= cancel_button %>
  </div>
<% end %>
