<div class="container-fluid">
  <header class="d-flex justify-content-between py-2">
    <h1 class="d-inline-block">Edit <%= @line_item.itemizable_type || 'Line Item' %></h1>
    <%= back_button target: @line_item.invoice.reservation %>
  </header>

  <%= render 'line_items/form' %>
</div>
