<% nav_sections = [
  # Application
  [
    {
      text: 'Dashboard',
      url: dashboard_path,
      icon: 'tachometer-alt',
      require_admin: true,
    },
    {
      text: 'Reservations',
      url: reservations_path,
      icon: 'calendar-alt',
      require_admin: true,
    },
    {
      text: 'Customers',
      url: customers_path,
      icon: 'user',
      require_admin: true,
    },
    # TODO: re-activate this if we ever add in a more robust billing system
    # {
    #   text: 'Invoices',
    #   url: invoices_path,
    #   icon: 'book',
    #   require_admin: true,
    #   dev_only: true,
    # },
  ],

  # Admin/Configuration
  [
    {
      text: 'Rental Items',
      url: admin_items_path,
      icon: 'truck-loading',
      require_admin: true,
    },
    {
      text: 'Service Types',
      url: admin_service_types_path,
      icon: 'hand-holding-usd',
      require_admin: true,
    },
    {
        text: 'Contract Terms',
        url: admin_contract_terms_path,
        icon: 'file',
        require_admin: true,
    },
    {
      text: 'Users',
      url: admin_users_path,
      icon: 'users',
      require_admin: true,
    },
  ],

  # CMS/SEO
  [
    {
      text: 'View Public Site',
      url: landing_page_path,
      icon: 'tv',
    },
    {
      text: 'SEO Locations',
      url: admin_seo_locations_path,
      icon: 'map-marker',
      require_admin: true,
    },
    {
      text: 'Manage Content',
      url: edit_visitor_page_content_path,
      icon: 'cogs',
      require_admin: true,
    },
  ],
] %>

<div id="sidebar" class="sidebar-nav grey lighten-4 h-100">

  <% nav_sections.each do |nav_items_in_section| %>
    <ul class="nav flex-column my-2">
      <% nav_items_in_section.each do |nav_item| %>
        <% visible = true %>
        <% visible = false if nav_item[:dev_only] && !Rails.env.development? %>
        <% visible = false if nav_item[:require_admin] && !(signed_in? && current_user.admin?) %>
        <% if visible %>
          <li class="nav-item">
            <%= link_to fa_icon(nav_item[:icon], text: nav_item[:text], icon_class: 'fa-fw mr-2'), nav_item[:url], class: 'nav-link' %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <div class="border-top"></div>
  <% end %>

</div>
