<footer class="container-fluid bg-dark text-light">
  <!-- Contact info -->
  <div class="row pt-4">
    <div class="col-6 col-md-2 text-right pr-0">
      <div class="mb-5 border-right border-secondary">
        <h6 class="text-uppercase mr-3">phone</h6>
        <p class="mr-3">123-456-7890</p>
      </div>
      <div class="mb-5 border-right border-secondary">
        <h6 class="text-uppercase mr-3">Email</h6>
        <p class="mr-3">example@example.com</p>
      </div>
    </div>
    <!-- Contact Icons -->
    <div class="col-6 col-md-2 text-left pl-0">
      <div class="mb-5">
        <i class="fas fa-mobile fa-2x fa-fw mt-2 ml-3 text-secondary"></i>
      </div>
      <div class="mb-5">
        <i class="fas fa-envelope fa-2x fa-fw mt-3 ml-3 text-secondary"></i>
      </div>
    </div>

    <!-- Footer nav -->
    <div class="col-md-2 mt-2">
      <ul class="list-unstyled">
        <li><a href="#" class="text-light d-block mb-2"><span>Link</span></a></li>
        <li><a href="#" class="text-light d-block mb-2"><span>Link</span></a></li>
        <li><a href="#" class="text-light d-block mb-2"><span>Link</span></a></li>
        <li><a href="#" class="text-light d-block mb-2"><span>Link</span></a></li>
      </ul>
    </div>

    <div class="col-md-2 mt-2">
      <ul class="list-unstyled">
        <li><a href="#" class="text-light d-block mb-2"><span>Link</span></a></li>
        <li><a href="#" class="text-light d-block mb-2"><span>Link</span></a></li>
        <li><a href="#" class="text-light d-block mb-2"><span>Link</span></a></li>
        <li><a href="#" class="text-light d-block mb-2"><span>Link</span></a></li>
      </ul>
    </div>

    <div class="col-md-4 mt-3">
      <!--Social buttons-->
      <div class="text-center">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <a class="btn btn-secondary mx-1">
              <i class="fab fa-facebook"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-secondary mx-1">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-secondary mx-1">
              <i class="fab fa-google-plus"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-secondary mx-1">
              <i class="fab fa-linkedin"> </i>
            </a>
          </li>
        </ul>
        <p class="mt-5 text-muted">&copy; Company 2018</p>
      </div>
      <!--/.Social buttons-->
    </div>
  </div>
</footer>
