<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="application-navbar">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag 'logo/sp_logo_admin_icon_white.png' %>
  <% end %>

  <!--<button id="sidebar-toggler" type="button" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
  <!--</button>-->
  <!---->
  <%= link_to fa_icon('bars', icon_class: 'fa-lg'), '#', id: 'sidebar-toggler', class: 'btn btn-dark' %>

  <ul class="navbar-nav ml-auto">
    <% if signed_in? %>
      <%# Authentication dropdown %>
      <li class="nav-item dropdown">
        <a id="authenticated_nav_dropdown" class="nav-link dropdown-toggle" href role="button" data-toggle="dropdown">
          <%= fa_icon('user-circle', icon_class: 'fa-lg') %>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to fa_icon('user', text: current_user.email), '#', class: 'dropdown-item disabled', disabled: true %>
          <div class="dropdown-divider"></div>
          <%= link_to 'Reset Password', new_password_path, class: 'dropdown-item' %>
          <%= link_to 'Sign out', sign_out_path, method: :delete, class: 'dropdown-item' %>
        </div>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to 'Sign in', sign_in_path, class: 'nav-link' %>
      </li>
    <% end %>
  </ul>
</nav>