<!DOCTYPE html>
<html>
<head>
    <title>Simply Privys</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= render 'application/favicon' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento|Quattrocento+Sans" rel="stylesheet">
</head>

<body>
  <header>
    <%= render 'layouts/navigation' %>
  </header>

  <%= render 'layouts/messages' %>

  <div id="wrapper" class="loading">
    <div id="sidebar-wrapper" class="z-depth-1">
      <%= render 'layouts/admin_navigation' %>
    </div>

    <main id="page-content-wrapper" role="main">
      <%= yield %>
    </main>
  </div>

  <%= javascript_pack_tag 'application' %>

</body>
</html>
